{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
<h2 class="text-center my-3">💖 Вподобані оголошення</h2>

<div class="favorite-ads-container">
    {% for ad in ads %}
        <div class="card shadow-sm ad-management-card mb-3 position-relative">
                <div class="row g-0">

                    <div class="col-md-3 position-relative">


                        {% if ad.images.exists %}
                            <img src="{{ ad.images.first.image.url }}"
                                 alt="{{ ad.title }}"
                                 class="ad-management-img rounded-start">
                        {% else %}
                            <img src="{% static 'media/images/placeholder.png' %}"
                                 alt="Немає фото"
                                 class="ad-management-img rounded-start">
                        {% endif %}
                    </div>

                    <div class="col-md-9">
                        <div class="card-body position-relative h-100 d-flex flex-column">

                            <div class="d-flex justify-content-between align-items-start mb-2">
                                <h5 class="card-title mb-0">
                                    <a href="{% url 'ad_detail' slug=ad.slug %}" class="stretched-link text-decoration-none text-dark">
                                        {{ ad.title }}
                                    </a>
                                </h5>
                                <h5 class="ad-price text-dark fw-bold mb-0 ms-3">{{ ad.price|floatformat:0 }} грн</h5>
                            </div>


                            <div class="mt-auto">
                                <p class="card-text small text-muted mb-0 mt-2">
                                    <i class="fa-solid fa-location-dot me-1"></i> {{ ad.place|default:"Місце не вказано" }}
                                    <span class="mx-2">•</span>
                                    <i class="fa-regular fa-calendar-days me-1"></i> {{ ad.date|date:"d M Y" }}
                                </p>
                            </div>
    {% empty %}
    <p class="text-center text-muted mt-4">Немає вподобаних оголошень 😔</p>
    {% endfor %}
</div>

{% endblock %}
