version: '3.8'

services:
  # 1. Сервіс Бази Даних PostgreSQL
  db:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      # Встановіть змінні для доступу (вони будуть використовуватися web/celery)
      - POSTGRES_DB=TEST
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345678
    ports:
      - "5432:5432"


  # 2. Сервіс Кешування Redis (для Celery Backend)
  redis:
    image: redis:alpine
    ports:
      - "6381:6379" # 6379 - стандартний порт Redis

  # 3. Сервіс Брокера Повідомлень RabbitMQ (для Celery Broker)
  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672" # Стандартний порт для обміну повідомленнями
      - "15672:15672" # Порт для Web UI (http://localhost:15672/)
    environment:
      # Стандартні облікові дані для адмін-панелі
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password

  # 4. Основний Додаток Django (Web Server)
# 4. Основний Додаток Django (Web Server)
  web:
    build: .  # <-- ОСЬ ЦЕЙ РЯДОК БУВ ПОТРІБЕН
    command: >
      sh -c "python manage.py wait_for_db 
      && python manage.py makemigrations
      && python manage.py migrate 
      && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=sobes.settings
      - DATABASE_URL=postgres://postgres:12345678@db:5432/TEST
      - REDIS_HOST=redis
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=password
      - RABBITMQ_PORT=5672



    depends_on:
      - db
      - redis
      - rabbitmq

  # 5. Celery Worker (для виконання фонових завдань)
# 5. Celery Worker (для виконання фонових завдань)
  celery:
    build: .  # <-- ДОДАЙТЕ ЦЕЙ РЯДОК
    command: >
      sh -c "python manage.py wait_for_db 
      && celery -A sobes worker -l info"
    volumes:
      - .:/app  # <-- І ЦЕЙ
    environment:
      - DJANGO_SETTINGS_MODULE=sobes.settings
      - REDIS_HOST=redis
      - RABBITMQ_HOST=rabbitmq
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=hello_django_dev
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345678
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=password
      - RABBITMQ_PORT=5672
      - DATABASE_URL=postgres://postgres:12345678@db:5432/TEST


    depends_on:
      - web
      - redis
      - rabbitmq

volumes:
  postgres_data:
