services:
  db:
    image: postgres:14-alpine
    restart: always
    env_file:
      - .env.railway
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    restart: always

  rabbitmq:
    image: rabbitmq:3-management-alpine
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "5672:5672"
      - "15672:15672"

  web:
    build: .
    restart: always
    env_file:
      - .env.railway
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             daphne -b 0.0.0.0 -p 8000 sobes.asgi:application"
    ports:
      - "80:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      rabbitmq:
        condition: service_started
    volumes:
      - media_data:/app/media
      - static_data:/app/staticfiles

  celery:
    build: .
    working_dir: /app
    restart: always
    env_file:
      - .env.railway
    command: >
      sh -c "python manage.py wait_for_db &&
             celery -A sobes worker -l info"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      rabbitmq:
        condition: service_started

volumes:
  postgres_data:
  media_data:
  static_data: