{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1">

            <form action="#" method="GET" class="search-bar d-flex shadow-sm">

                <div class="search-field flex-grow-1">
                    <i class="fa fa-search search-icon"></i>
                    <input type="text" class="form-control" name="q" placeholder="Що шукаєте?">
                </div>

                <div class="search-field flex-grow-1">
                    <i class="fa fa-location-dot search-icon"></i>
                    <input type="text" class="form-control" name="location" placeholder="Уся Україна">
                </div>

                <button type="submit" class="btn btn-dark search-button">
                    <strong>Пошук</strong> <i class="fa fa-search"></i>
                </button>
            </form>

            </div>
    </div>
</div>

<div class="container mt-5 text-center">
    <h2>Розділи на сервісі</h2>
    </div>

<footer class="page-footer mt-5">
    <div class="container text-center py-5">

        <img src="{% static 'media/images/olx.svg' %}" alt="OLX logo" class="footer-logo mb-4">

        <p class="footer-text mb-4">
            Усі онлайн-оголошення України на OLX - тут ви знайдете те, що шукали! <br>
            Натиснувши на кнопку "Подати оголошення", ви зможете розмістити оголошення на будь-яку тематику легко й швидко. <br>
            За допомогою сервісу OLX ви зможете купити чи продати з рук у руки практично все, що завгодно.
        </p>

        <p class="footer-social-title mb-2">Стежте за OLX у соцмережах</p>

        <div class="footer-social-links">
            <a href="#" class="social-link" aria-label="Facebook">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="social-link" aria-label="YouTube">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="#" class="social-link" aria-label="Twitter">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
        </div>

    </div>
</footer>
{% endblock %}